{
  extends: ["airbnb", "plugin:meteor/recommended"],
  env: {
    meteor: true,
    node: true,
    browser: true
  },
  parser: "babel-eslint",
  parserOptions: {
    allowImportExportEverywhere: true
  },
  plugins: [
    "meteor"
  ],
  settings: {
    import/resolver: "meteor"
  }
}